$primary: #1d4a58;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 700px,
        xl: 700px,
        xxl: 700px
);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
